{% extends 'base.html'%}
{% block content %}
<div class="col-md-6 offset-md-3">
  {% if user.is_authenticated %}
  <h1>Hello world</h1>

  {% else %}
    <h1>Login</h1>
  <br/>
    <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" required>
    <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>

{% endif %}

{% endblock %}




