{% extends 'base.html'%}
{% block content %}


  {% if user.is_authenticated %}
  <h1>Records</h1>

  <table class="table table-success table-striped">
     <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Phone</th>
      <th scope="col">City</th>
    </tr>
  </thead>
    <tbody>
    <tr>

  {% if records %}
  {% for record in records %}
    <td><a href = "{% url 'record' record.id %}">{{record.id}}</a></td>
     <td>{{record.first_name}}
      {{ record.second_nam }}</td>
     <td> {{record.email}}</td>
     <td> {{record.phone}}</td>
     <td> {{record.city}}</td>
       </tr>
    <br/>
  {% endfor %}
  {% endif %}

    </tbody>

</table>

  {% else %}
    <h1>Login</h1>
  <br/>
    <form method="post" action="{% url 'index' %}">
        {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" required>
    <div id="emailHelp" class="form-text">We'll never share your username with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>

{% endif %}

{% endblock %}




